<div class="vertical-center">
        <h1><span class="glyphicon glyphicon-briefcase logo" aria-hidden="true"></span> Trade-Off</h1>
        <br />
    <div class="panel panel-default tp-about-border">
        <div class="tp-about">
            <p><a href="#/">Trade Off</a> is a community on a mission to make it easy to get something you want without having to buy anything at all.</p>
            <br />
            <h5>TradePost: Snap &#38 Post</h5>
            <p>Simply <a href="#/register">register</a> an account with us, <b>snap</b> a picture of something you no longer want and <b>post</b> it to the app.</p>
            <br />
            <h5>Chat to negotiate</h5>
            <p>Find something interesting and would like to make an offer? Click on the TradePost and chat with the person directly to trade!</p>
            <br />
            <h5>Meet to Trade Off</h5>
            <p>Trade Off also allows users to check out TradePosts within the area, so that they may choose an in-person swap over sending items by mail.</p>
        </div>
    </div>
</div>
