<!--Gallery View-->
<div class="container">
    <div class="row content-header">
        <div class="col-lg-2 col-md-2 col-sm-1">
            <!--Add Trade Post button-->
            <div class="col-md-12">
                <a href="#/addpost" class="btn btn-default btn-lg add-post">Add Trade Post</a>
            </div>

            <h3>Categories</h3>
            <div class="list-group">
                <a href="#/gallery" class="list-group-item" ng-repeat="category in controller.categories"> # {{category.name}}</a>
            </div>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-11">
            <!-- TradePost button trigger modal -->
            <!--<div class="row">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addPost">
                    Add Trade Post
                </button>
            </div>-->

            <div class="row gallery content-body">
                <!--TradePost List-->
                <!--Add a filter later-->
                <div class="col-lg-3 col-md-4 col-xs-6 thumbnail" ng-repeat="tradePost in controller.tradePosts">
                    <div class="row">
                        <p><b>{{tradePost.owner.userName}}</b></p>
                    </div>
                    <div class="row img-post">
                        <img class="img-responsive" ng-src="{{tradePost.picture.url}}" />
                    </div>
                    <div class="row">
                        <b><a href="#/profile/{{tradePost.name}}">{{tradePost.name}}</a></b>
                    </div>
                    <div class="row">
                        <i>({{tradePost.date}})</i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <!--<div class="modal fade" id="addPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Notes...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>-->

</div>
